# https://github.com/cheqd/cheqd-node
image:
  tag: 4.1.4

podLabels:
  sidecar.istio.io/inject: "false"

ingressDomain: 127.0.0.1.nip.io
ingress:
  internal:
    enabled: true
    className: nginx
    annotations: {}
    hosts:
      - host: api.cheqd.{{ .Values.ingressDomain }}
        paths:
          - servicePort: "{{ .Values.service.apiPort }}"
      - host: rpc.cheqd.{{ .Values.ingressDomain }}
        paths:
          - servicePort: "{{ .Values.service.rpcPort }}"
      - host: grpc-web.cheqd.{{ .Values.ingressDomain }}
        paths:
          - servicePort: "{{ .Values.service.grpcWebPort }}"
  grpc-internal:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: GRPC
    hosts:
      - host: grpc.cheqd.{{ .Values.ingressDomain }}
        paths:
          - servicePort: "{{ .Values.service.grpcPort }}"

startupProbe:
  httpGet:
    path: /status
    port: rpc
  initialDelaySeconds: 1

secrets:
  validatorMnemonic: betray purity grief spatial rude select loud reason wolf harvest session awesome

network: localnet
config:
  app_toml:
    minimum-gas-prices: 50ncheq
  config_toml:
    moniker: ACA-Py Cloud Cheqd Localnet
    log_level: warn # Options: trace, debug, info, warn, error, fatal, panic
    log_format: plain
    p2p:
      external_address: ""
      seeds: ""
      addr_book_strict: false
      pex: false
    consensus:
      timeout_propose: 500ms
      timeout_prevote: 500ms
      timeout_precommit: 500ms
      timeout_commit: 2s
