# Ignore everything
**

# Except the following
!acapy/
!app/
!dockerfiles/agents/poetry.lock
!dockerfiles/agents/pyproject.toml
!dockerfiles/poetry-requirements.txt
!plugins/
!scripts/
!shared/
!tails/
!trustregistry/
!waypoint/

!LICENSE
!pyproject.toml
!poetry.lock

**/__pycache__/
