# Ignore everything
**

# Except the following
!pyproject.toml
!poetry.lock
!app/
!dockerfiles/poetry-requirements.txt
!dockerfiles/agents/pyproject.toml
!dockerfiles/agents/poetry.lock
!scripts/
!shared/
!tails/
!trustregistry/
!waypoint/
!LICENSE

**/__pycache__/
