# Ignore everything
**

# Except the following
!pyproject.toml
!poetry.lock
!app/
!dockerfiles/poetry-requirements.txt
!endorser/
!scripts/
!shared/
!tails/
!trustregistry/
!waypoint/
!LICENSE

**/__pycache__/
