repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      - id: ruff-check # Run the linter
      - id: ruff-format # Run the formatter
        args: ["--check"]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        stages: [pre-push]
        additional_dependencies: [black~=25.1.0]
        language_version: python3
        files: '\.(rst|md|markdown|py|tex)$'
