name: Docker Build

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      image_version:
        description: The version of the image built
        value: ${{ jobs.push.outputs.image_version }}

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        image:
          - agent
          - app
          - pytest
          - tails-server
          - trust-registry
          - waypoint
          - xk6
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runs-on: ubuntu-24.04
          - arch: arm64
            runs-on: ubuntu-24.04-arm
          - image: agent
            context: .
            file: dockerfiles/agents/Dockerfile
            build-args: BUILD_CONTEXT=./acapy
          - image: app
            context: .
            file: dockerfiles/app/Dockerfile
            build-args: ""
          - image: pytest
            context: .
            file: dockerfiles/tests/Dockerfile
            build-args: ""
          - image: tails-server
            context: .
            file: dockerfiles/tails/Dockerfile
            build-args: ""
          - image: trust-registry
            context: .
            file: dockerfiles/trustregistry/Dockerfile
            build-args: ""
          - image: waypoint
            context: .
            file: dockerfiles/waypoint/Dockerfile
            build-args: ""
          - image: xk6
            context: ./scripts/k6
            file: ./scripts/k6/Dockerfile
            build-args: ""

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
          install: true
          version: latest

      - name: Build and cache Docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.file }}
          push: false
          cache-from: |
            type=gha,scope=build-${{ matrix.image }}-${{ matrix.arch }}
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/acapy-cloud/${{ matrix.image }}:latest
          cache-to: |
            type=gha,mode=min,scope=build-${{ matrix.image }}-${{ matrix.arch }}
          platforms: linux/${{ matrix.arch }}
          build-args: ${{ matrix.build-args }}

  push:
    name: Push
    runs-on: ubuntu-24.04

    permissions:
      packages: write

    needs: build

    strategy:
      fail-fast: false
      matrix:
        image:
          - agent
          - app
          - pytest
          - tails-server
          - trust-registry
          - waypoint
          - xk6
        include:
          - image: agent
            context: .
            file: dockerfiles/agents/Dockerfile
            build-args: BUILD_CONTEXT=./acapy
          - image: app
            context: .
            file: dockerfiles/app/Dockerfile
            build-args: ""
          - image: pytest
            context: .
            file: dockerfiles/tests/Dockerfile
            build-args: ""
          - image: tails-server
            context: .
            file: dockerfiles/tails/Dockerfile
            build-args: ""
          - image: trust-registry
            context: .
            file: dockerfiles/trustregistry/Dockerfile
            build-args: ""
          - image: waypoint
            context: .
            file: dockerfiles/waypoint/Dockerfile
            build-args: ""
          - image: xk6
            context: ./scripts/k6
            file: ./scripts/k6/Dockerfile
            build-args: ""

    outputs:
      image_version: ${{ steps.meta.outputs.version }}

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
          install: true
          version: latest

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/acapy-cloud/${{ matrix.image }}
          tags: |
            type=raw,value=latest,enable=${{ github.event.repository.default_branch == github.ref_name }}
            type=sha,prefix=pr-${{ github.event.pull_request.number }}-,priority=601,enable=${{ github.event_name == 'pull_request' }}
            type=sha,prefix={{branch}}-,priority=601,enable=${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_type == 'branch' }}
            type=ref,event=branch,priority=600
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{version}}-{{sha}},priority=901

      - name: Build and push Docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.file }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: |
            type=gha,scope=build-${{ matrix.image }}-arm64
            type=gha,scope=build-${{ matrix.image }}-amd64
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/acapy-cloud/${{ matrix.image }}:latest
          platforms: linux/amd64,linux/arm64
          build-args: ${{ matrix.build-args }}
