name: Lint / Format

on:
  workflow_call:
    inputs:
      mise-version:
        required: true
        type: string

permissions: {}

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Overwrite .mise.toml # The full `mise.toml` isn't needed for this workflow
        run: |
          rm -f .mise.lock
          cat <<EOF > .mise.toml
          [tools]
          python = "3.12"
          "pipx:ruff" = "0.12.0"
          "pipx:mypy" = "1.16.1"
          EOF

      - name: Set up Mise
        uses: jdx/mise-action@5cb1df66ed5e1fb3c670ea0b62fd17a76979826a # v2.3.1
        with:
          version: ${{ inputs.mise-version }}
          cache: true
          experimental: true
          install: true

      - name: Check code style with Ruff
        run: ruff format --check

      - name: Check Tiltfiles with Ruff
        run: |
          find . -type f -name "Tiltfile" | while read -r file; do
            ruff format --check "$file"
          done

      - name: Check code lint rules with Ruff
        run: ruff check

      - name: Check code with mypy
        run: mypy . --ignore-missing-imports --check-untyped-defs --install-types --non-interactive
