name: Notify

on:
  workflow_call:
    inputs:
      acapy-cloud-ref:
        required: true
        type: string
        description: The git reference (branch, tag, or commit) to use for the acapy-cloud repo.
      image-version:
        required: true
        type: string
        description: The version of the image built.
      reset-deployments:
        description: Reset deployment - Clean start
        required: false
        default: false
        type: boolean
      run-e2e-tests:
        description: Run End-to-End Tests
        required: false
        default: true
        type: boolean
      run-k6-tests:
        description: Run K6 Tests
        required: false
        default: true
        type: boolean
      run-regression-tests:
        description: Run Regression Tests
        required: false
        default: true
        type: boolean
    secrets:
      devops-app-id:
        required: true
      devops-private-key:
        required: true

permissions: {}

jobs:
  didx-cloud:
    name: didx-cloud
    runs-on: ubuntu-latest

    env:
      REPO_OWNER: ${{ github.repository_owner }}
      REPO_NAME: didx-cloud

    steps:
      - name: Log in to DIDx DevOps
        id: devops_login
        uses: actions/create-github-app-token@0f859bf9e69e887678d5bbfbee594437cb440ffe # v2.1.0
        with:
          app-id: ${{ secrets.devops-app-id }}
          private-key: ${{ secrets.devops-private-key }}
          owner: ${{ env.REPO_OWNER }}
          repositories: ${{ env.REPO_NAME }}

      - name: Notify didx:cloud
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          github-token: ${{ steps.devops_login.outputs.token }}
          script: >-
            try {
              const result = await github.rest.actions.createWorkflowDispatch({
                owner: process.env.REPO_OWNER,
                repo: process.env.REPO_NAME,
                workflow_id: 'notify.yml',
                ref: 'master',
                inputs: {
                  'acapy-cloud-ref': process.env.ACAPY_CLOUD_REF,
                  'image-tag': process.env.IMAGE_TAG,
                  'reset-deployments': process.env.RESET_DEPLOYMENTS,
                  'run-e2e-tests': process.env.RUN_E2E_TESTS,
                  'run-k6-tests': process.env.RUN_K6_TESTS,
                  'run-regression-tests': process.env.RUN_REGRESSION_TESTS,
                }
              })
              console.log(result)
            } catch (error) {
              console.error(error);
              core.setFailed(error.message);
            }
        env:
          ACAPY_CLOUD_REF: ${{ inputs.acapy-cloud-ref }}
          IMAGE_TAG: ${{ inputs.image-version }}
          RESET_DEPLOYMENTS: ${{ inputs.reset-deployments }}
          RUN_E2E_TESTS: ${{ inputs.run-e2e-tests }}
          RUN_K6_TESTS: ${{ inputs.run-k6-tests }}
          RUN_REGRESSION_TESTS: ${{ inputs.run-regression-tests }}
