name: Unit Tests

on:
  workflow_call:
    inputs:
      mise-version:
        required: true
        type: string

permissions: {}

jobs:
  unit:
    name: Unit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Cache Python venv
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .venv
          key: python-${{ hashFiles('**/poetry.lock', '.mise.toml') }}

      - name: Set up Mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: ${{ inputs.mise-version }}
          cache: true
          experimental: true
          install: true
        env:
          MISE_JOBS: 4

      - name: Run unit tests
        run: mise run tests:unit
